{% extends 'base.html' %}
{% block title %}Bienvenido al inicio{% endblock %}
{% block content %}
<h1>Bienvenido a la mejor pagina que veras en tu fuking vida :D lore</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi eligendi ipsam quos ipsum, soluta autem, ducimus
    iure, libero illum assumenda sapiente placeat dignissimos? Aliquam doloribus atque magnam cupiditate a repellat!
    Reiciendis atque dignissimos perferendis blanditiis dolorem, fuga excepturi? Nostrum voluptatum dolor voluptate
    minima facere enim, officia ullam cupiditate quaerat suscipit recusandae pariatur, nam iure amet nihil numquam,
    ducimus mollitia corporis?
    Obcaecati iusto facilis et ad quod cum illo totam molestias optio tempore porro dolorum inventore perspiciatis
    consectetur expedita, quasi mollitia sint quae blanditiis natus laboriosam saepe placeat nisi provident! Aspernatur.
    Officia enim aperiam voluptatibus vitae at quibusdam illum cupiditate quis, deleniti architecto eos voluptate
    accusamus atque facilis fugit impedit suscipit perspiciatis ipsum, accusantium, numquam sint. Suscipit numquam
    veniam ipsam eligendi!
    Optio itaque nam eaque deleniti quis? Enim, excepturi? Magni, sed aut. Molestiae asperiores laudantium iusto aliquam
    cumque vitae similique hic enim iste? Sunt quo, nisi ipsam necessitatibus ullam soluta esse!
    Nihil facere totam excepturi atque numquam quos delectus ab labore maiores eum, fuga quo porro natus est. In nemo,
    illo laudantium id minus repellendus accusamus dignissimos! Excepturi aliquam fugit quos.
</p>
{% endblock %}